# CopiNEXT_PUBLIC_SUPABASE_URL=https://lfxylimcteafvbsbphgf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxmeHlsaW1jdGVhZnZic2JwaGdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzU5ODIsImV4cCI6MjA5NjM1MTk4Mn0.kNzOzPKMWLHF1O6x2EzVzCGZUA_gYkXY05AF0YaNzfo
